﻿@using AirlineSystemApp.Models.Flight

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Flight</title>
    <style type="text/css"></style>
</head>
<body>

    <img class="img_deg" src="~/photo/flight_logo.jpg" />

    <div class="container-form">
        <h2>New Flight</h2>

        <form method="post" asp-controller="Flight" asp-action="Create">
            <div>
                <label for="DepartureCity">Departure City</label>
                <input type="text" id="DepartureCity" name="DepartureCity" />
            </div>
            <div>
                <label for="ArrivalCity">Arrival City</label>
                <input type="text" id="ArrivalCity" name="ArrivalCity" />
            </div>
            <div>
                <label for="Duration">Duration</label>
                <input type="number" id="Duration" name="Duration" />
            </div>
            <div>
                <label for="Price">Price</label>
                <input type="text" id="Price" name="Price" />
            </div>
            <div>
                <label for="Capacity">Capacity</label>
                <input type="number" id="Capacity" name="Capacity" />
            </div>

            <button type="submit">Create</button>
            <button asp-controller="Flight" asp-action="Index" id="cancelButton">Cancel</button>
        </form>
    </div>


</body>
</html>