﻿@using AirlineSystemApp.Models.Passenger

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Passenger</title>
</head>
<body>
    <div class="container-form">
        <h2>New Passenger</h2>

        <form method="post" asp-controller="Passenger" asp-action="Create">
            <div>
                <label for="FirstName">First Name</label>
                <input type="text" name="FirstName" />
            </div>
            <div>
                <label for="LastName">Last Name</label>
                <input type="text" name="LastName" />
            </div>

            <button type="submit">Create</button>
            <button asp-controller="Flight" asp-action="Index" id="cancelButton">Cancel</button>
        </form>
    </div>
</body>
</html>